extends _layouts/base

include _modules/link/link



block content
  .container
    .header
      .h1 Nasa stuff
      .searchbar
        input#search(type='text' placeholder="search for something" value='moon')
        button#submit search
    #images
    footer
      h2 Previous searches:
      #search-list
